
<div class="relative h-full">
    <div class="absolute w-full h-full">
        <.background id={"container-bg"} image={"http://localhost:8081/bg_#{@image_id}.png"} />
    </div>
    <div class="absolute w-full full">

        <.button phx-click="create_room" class="ml-2">Create a new Design Room!</.button>

        <div class="m-10"/>

        <Molecules.carousel_score_card players={[
            %{id: "player_abc", name: "denny", identity: :red, clout: 2, affinities: %{skub: 2, houseboat: 5}, biases: %{red: 2, blue: 4}}, 
            %{id: "player_def", name: "adhiraj", identity: :yellow, clout: 3, affinities: %{skub: 5, houseboat: 9}, biases: %{red: 2, blue: 4}},
            %{id: "player_ghi", name: "krys", identity: :blue, clout: 9, affinities: %{skub: -2, houseboat: 4}, biases: %{red: 8, blue: 2}}
        ]} />

        
        <div class="flex flex-row gap-4">
            <.button phx-click={"increment_counter"}>Increment</.button>
            <.button phx-click={"change_background"}>background</.button>
        </div>

        <div class="m-10" />
            <p class="bg-red-100 p-4 rounded-lg w-fit h-fit  flex flex-row justify-center items-center" id="counter-label" phx-hook={"HookCounter"}>
                <%= @count %>
            </p>
        <div class="m-10"/>
        -->
        
        <svg class="w-80 h-fit  align-center" viewBox="0 0 200 12">
            <filter id="fx">
                <feTurbulence 
                    id="turbulence"
                    baseFrequency="1.2 1.09"
                    numOctaves="10"
                    result="NOISE"
                >
                    
                </feTurbulence>
                <feDisplacementMap
                    in="SourceGraphic"
                    in2="NOISE"
                    scale="9"
                    result="DISPLACEMENT"
                >
                    <animate
                        attributeName="scale"
                        values="0;9;0"
                        dur="10s"
                        repeatCount="indefinite" />
                </feDisplacementMap>
                
                <!-- <feGaussianBlur
                    in="DISPLACEMENT"
                    stdDeviation="4"
                /> -->
            </filter>
            
            <text x="10" y="10" font-size="0.8em">4</text>
            <circle cx="0" cy="0" r="1" fill="blue" />
            <circle cx="200" cy="12" r="1" fill="blue" />
            <g >
                <rect 
                    x="38" 
                    y="2" 
                    width="70" 
                    height="8" 
                    fill="red" 
                    rx="4"
                    filter="url(#fx)" 
                    />
                <rect 
                    x="40" 
                    y="2" 
                    width="150" 
                    height="8" 
                    fill="transparent" 
                    rx="4"
                    stroke="green"
                    stroke-width="2"
                   
                    />
            </g>
        </svg>
    </div>    
</div>





<!--
<.button phx-click="show_popup"> Show</.button>

<.banner />
-->