<div class="relative h-full">
    <!--<div class="absolute w-full h-full">
        <.background id={"container-bg"} image={"http://localhost:8081/bg_#{@image_id}.png"} />
    </div>-->
    <div class="absolute w-full full">
        <h1>Viral Spiral</h1>

        <.button phx-click="create_room" class="ml-2">Create a new Room!</.button>

        <div class="m-10"/>

        <div class="flex flex-row gap-4">
            <.button phx-click={"increment_counter"}>Increment</.button>
            <.button phx-click={"change_background"}>background</.button>
        </div>

        <div class="m-10"/>

        <div id="counter-container" class="w-fit h-8 bg-red-400 flex flex-row justify-center items-center" phx-hook={"HookCounter"}>
            <p class="w-fit h-8 bg-red-200  flex flex-row justify-center items-center" id="counter-label">
                <%= @count %>
            </p>
        </div>


        <div class="m-10"/>
    </div>

    
</div>

