<h1>Multiplayer Room</h1>
<button phx-click="test">click</button>

<div id="pixi-room-multiplayer" phx-hook="PixiRoomMultiplayer" phx-update="ignore" 
    data-state={JSON.encode!(@state)}
 >
</div> 
