@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

body {
  font-family: "Averia Libre", system-ui;
  font-weight: 400;
  font-style: normal;
}