<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
    <div class="flex items-center gap-4">
      <a href="/">
        <img src={~p"/images/logo.png"} width="36" />
      </a>
      <p class="bg-brand/5 text-brand rounded-full px-2 font-medium leading-6">
        <%= Application.spec(:viral_spiral, :vsn) %>
      </p>
    </div>
    <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
      <a href="https://tattle.co.in/products/viral-spiral/" class="hover:text-zinc-700">
        Website
      </a>
      <a href="https://github.com/tattle-made/viral-spiral" class="hover:text-zinc-700">
        GitHub
      </a>
    </div>
  </div>
</header>
<main class="px-4 sm:px-6 lg:px-8 h-[calc(100vh-65px)] bg-red-300">
  <div class="mx-auto w-full h-full">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
